.user-state
    .user-state__item
        span.user-state__value='11'
        small.user-state__name='New messages'
    .user-state__item.user-state__item--zero
        span.user-state__value='0'
        small.user-state__name='New requests'
    .user-state__item
        span.user-state__value='7'
        small.user-state__name='New photos'